<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

 <appender name="FILE" class="ch.qos.logback.core.FileAppender">
      <file> CerquesGameland.txt </file>
      <append>true</append>
      <encoder>
         <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
      </encoder>
   </appender>
   
 <appender name="ERRORFILE" class="ch.qos.logback.core.FileAppender">
      <file> ErrorsGameland.txt </file>
      <append>true</append>
      <encoder>
         <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
      </encoder>
   </appender>
   
   <appender name="ADMINFILE" class="ch.qos.logback.core.FileAppender">
   		<file>AdminsGameland.txt</file>
   		<append>true</append>
   		<encoder>
   			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
   		</encoder>
   </appender>
   
   <logger name="vista.Registro" level="ERROR" additivity="false">
    <appender-ref ref="ERRORFILE" />
  </logger>
  
  <logger name="vista.Login" level="ERROR" additivity="false">
    <appender-ref ref="ERRORFILE" />
  </logger>
  
  <logger name="vista.ResulBusqueda" level="ERROR" additivity="false">
    <appender-ref ref="ERRORFILE" />
  </logger>
  
  <logger name="vista.Login" level="INFO" additivity="false">
  	<appender-ref ref="ADMINFILE"/>
  </logger>
 
  <root level="debug">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>